mat-form-field {
    display: block;
}

.kit {
    display: block;
    margin: 0 auto;
    width: 416px;
}

.kit-samples {
    display: flex;
    flex-wrap: wrap;
}

ngc-float-button {
    bottom: 25px;
    position: absolute;
    right: 25px;
}