mat-form-field {
    display: block;
}

.kit {
    display: block;
    margin: 0 auto;
    width: 416px;
}

.sample {
    background: gray;
    display: inline-block;
    color: white;
    height: 100px;
    line-height: 100px;
    margin: 2px;
    text-align: center;
    width: 100px;
}

.mat-fab {
    bottom: 50px;
    font-size: 1.5em;
    position: absolute;
    right: 50px;
}