mat-form-field {
    display: block;
}

.kit {
    display: block;
    margin: 0 auto;
    width: 416px;
}

.sample {
    background: transparent;
    border: 1px solid #000;
    border-radius: 1px;
    box-sizing: border-box;
    display: inline-block;
    color: #000;;
    height: 100px;
    line-height: 100px;
    margin: 2px;
    text-align: center;
    width: 100px;

    &.active {
        background: #000;
        color: #fff;
    }
}

ngc-float-button {
    bottom: 25px;
    position: absolute;
    right: 25px;
}