<div class="samples">
    <div class="menu">
        <button mat-raised-button (click)="openSampleDialog()">Upload a sample</button>
    </div>
    <div class="search">
        <mat-form-field>
            <input
                matInput
                placeholder="Search samples"
                [(ngModel)]="search"
                (ngModelChange)="searchChanged($event)"
            >
        </mat-form-field>
        <mat-icon [matMenuTriggerFor]="sampleSortMenu" class="sort-icon">sort</mat-icon>
        <mat-menu #sampleSortMenu="matMenu">
            <button mat-menu-item (click)="sortSamples('updated')">Newest samples</button>
            <button mat-menu-item (click)="sortSamples('favoritesCount')">Popular samples</button>
        </mat-menu>
    </div>
    <div class="bank-samples">
        <div
            class="sample"
            *ngFor="let sample of samples; let i = index"
            (focus)="globalService.keyMapEnabled.next(false)"
            (focusout)="globalService.keyMapEnabled.next(true)"
            (mousedown)="globalService.playSample($event)"
            (mouseup)="globalService.softStopSample($event)"
            dnd-draggable
            [dragEnabled]="true"
            [dragData]="sample"
            [dropZones]="['zone1','zone2','zone3','zone4','zone5','zone6','zone7','zone8','zone9','zone10','zone11','zone12','zone13','zone14','zone15','zone16']">
            <sample
                [sample]="sample"
                [index]="i+1"
                [component]="'samples'"
                [showFavorite]="true"
                [showKeys]="false"
            ></sample>
        </div>
        <button
            mat-menu-item
            *ngIf="samples && samples.length % resultsLimit === 0"
            (click)="loadMore()"
            class="load-more">
            Load more
        </button>
        <div class="empty" *ngIf="!samples.length">
            No samples found
        </div>
    </div>
</div>