.samples {
    display: block;
    margin: 0 auto;
    width: 256px;

    .bank-samples {
        display: flex;
        flex-wrap: wrap;

        ::ng-deep .sample .sample-name {
            top: 37%;
        }
    }
}

.search {
    align-items: center;
    display: flex;
}

.sort-icon {
    color: #828282;
    cursor: pointer;
    margin-left: 10px;
}

.menu {
    display: flex;
    justify-content: flex-end;

    mat-icon {
        cursor: pointer;
        transform: translateX(8px);
    }
}

.empty {
    margin-top: 1rem;
    text-align: center;
}

.load-more {
    text-align: center;
}