.sample-bank {
    display: block;
    margin: 0 auto;
    width: 208px;
}

.sample {
    background: gray;
    display: inline-block;
    color: white;
    height: 100px;
    line-height: 100px;
    margin: 2px;
    text-align: center;
    width: 100px;
}