<div class="sample-bank">
    <mat-form-field>
        <input matInput placeholder="Search samples" [(ngModel)]="sampleSearch">
    </mat-form-field>
    <div class="bank-samples">
        <div
            class="sample"
            *ngFor="let sample of samples | search: sampleSearch; let i = index"
            (focus)="globalService.keyMapEnabled.next(false)"
            (focusout)="globalService.keyMapEnabled.next(true)"
            (mousedown)="globalService.playSample($event)"
            (mouseup)="globalService.stopSample($event)"
            dnd-draggable
            [dragEnabled]="true"
            [dragData]="sample"
            [dropZones]="['zone1','zone2','zone3','zone4','zone5','zone6','zone7','zone8','zone9','zone10','zone11','zone12','zone13','zone14','zone15','zone16']">
            <sample [sample]="sample" [index]="i+1" component="'sample-bank'"></sample>
        </div>
    </div>
</div>