<div class="kit">
    <div class="kit-info" [ngClass]="{ 'new-kit': newKit }">
        <div class="meta" *ngIf="!newKit && currentKit.name">
            {{ currentKit.name }} by
            <img
                [src]="kitUser.avatar || kitUser.photoURL"
                class="avatar"
                (click)="openUserProfile()"
            >
            <span *ngIf="kitUser && kitUser.username" class="username">{{ kitUser.username }}</span>
            <favorite
                [collection]="'kits'"
                [id]="currentKit.slug"
                [favoritesCount]="currentKit.favoritesCount"
                [disabledFavorite]="!user"
                class="favorite-icon"
            ></favorite>
        </div>
        <div class="menu" *ngIf="user">
            <button mat-button (click)="openSaveKitDialog(false)">Copy kit</button>
            <button mat-raised-button (click)="openSaveKitDialog(true)" *ngIf="user && kitUser && kitUser.id === user && !newKit">Save kit</button>
        </div>
    </div>
    <div class="kit-samples">
        <div
            *ngFor="let sample of kitSamples; let i = index"
            id="sample{{i+1}}"
            (mousedown)="globalService.playSample($event)"
            (mouseup)="globalService.stopSample($event)"
            dnd-droppable
            [dropZones]="['zone' + (i + 1)]"
            (onDropSuccess)="replaceSample($event)">
            <sample
                [sample]="sample"
                [index]="i+1"
                [component]="'sampler'"
                [active]="activeKeys[keys[i]]"
                [showFavorite]="false"
                [showKeys]="true"
            >
            </sample>
        </div>
    </div>
</div>