@import "./../../shared/variables.scss";

.kits {
  box-sizing: border-box;
  margin: 1.3rem auto 0;
  width: 416px;
}

.menu {
  display: flex;
  justify-content: space-between;

  mat-icon {
      cursor: pointer;
      transform: translateX(6px);
  }
}

.search {
  display: inline-block;
}

.sort-icon {
  color: $white;
  cursor: pointer;
  margin-left: 10px;
}

.empty {
  margin-top: 1rem;
}