<div class="kits">
  <div class="menu">
    <mat-icon [matMenuTriggerFor]="menu" class="menu-icon">more_horiz</mat-icon>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/new-kit" queryParamsHandling="merge">Create new kit</button>
    </mat-menu>
  </div>
  <div class="search">
    <mat-form-field>
        <input
            matInput
            placeholder="Search kits"
            [(ngModel)]="search"
            (ngModelChange)="searchChanged($event)"
        >
    </mat-form-field>
    <mat-icon [matMenuTriggerFor]="menu" class="sort-icon">sort</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="sortKits('updated')">Newest kits</button>
      <button mat-menu-item (click)="sortKits('favoritesCount')">Popular kits</button>
    </mat-menu>
  </div>
  <ng-container *ngFor="let kit of kits">
    <kit-preview [kit]="kit" [user]="user"></kit-preview>
  </ng-container>
  <div class="empty" *ngIf="!kits.length">
    No kits found
  </div>
</div>