@import "./../../shared/variables.scss";

.kits {
  box-sizing: border-box;
  margin: 1.3rem auto 0;
  width: 416px;
}

.menu {
  display: flex;
  height: 16px;
  justify-content: flex-end;

  mat-icon {
      cursor: pointer;
      transform: translateX(6px);
  }
}

.kit {
  margin-bottom: 1rem;
  text-decoration: none;
}

.kit-container {
  align-items: center;
  border: 1px solid $black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
}

.kit-info {
  align-items: center;
  display: flex;
}

.name {
  margin-right: .2rem;
}

.avatar {
    border-radius: 50%;
    height: 30px;
    margin: -1px 0 0 .3rem;
    width: 30px;
}

.search {
  align-items: center;
  display: flex;
}

.sort-icon {
  color: #828282;
  cursor: pointer;
  margin-left: 10px;
}