@import "./../../shared/variables.scss";

.kits {
  box-sizing: border-box;
  margin: 1.3rem auto 0;
  width: 416px;
}

.menu {
  display: flex;
  justify-content: flex-end;

  mat-icon {
      cursor: pointer;
      transform: translateX(6px);
  }
}

.search {
  align-items: center;
  display: flex;
}

.sort-icon {
  color: #828282;
  cursor: pointer;
  margin-left: 10px;
}

.empty {
  margin-top: 1rem;
}