<mat-toolbar>
  <span>SMPLR</span>
  <span class="toolbar-spacer"></span>
  <span>
    <i class="material-icons" (click)="sidenav.toggle()">playlist_play</i>
    <button mat-raised-button *ngIf="!(afAuth.authState | async)" (click)="login()">Log In</button>
    <span *ngIf="afAuth.authState | async; let user;">
      <img [src]="user.photoURL" [matMenuTriggerFor]="menu" class="user-photo">
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </span>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <router-outlet></router-outlet>
  <mat-sidenav #sidenav mode="side" opened="true" position="end">
    <sidenav></sidenav>
  </mat-sidenav>
</mat-sidenav-container>
