<mat-toolbar>
  <a routerLink="/" class="app-icon" queryParamsHandling="merge">SMPLR</a>
  <span class="toolbar-spacer"></span>
  <span>
    <i class="material-icons" (click)="sidenav.toggle(); toggleOpenClass();">playlist_play</i>
    <button mat-raised-button *ngIf="!user" (click)="login()">Log In</button>
    <span *ngIf="user">
      <img [src]="user.avatar || user.photoURL" [matMenuTriggerFor]="menu" class="user-photo" *ngIf="user">
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="user" (click)="globalService.updateParams('profile', user)">My Profile</button>
        <button mat-menu-item *ngIf="user" (click)="logout()">Logout</button>
      </mat-menu>
    </span>
  </span>
</mat-toolbar>
<mat-sidenav-container cdkDropListGroup>
  <router-outlet></router-outlet>
  <mat-sidenav #sidenav mode="side" opened="true" position="end">
    <sidenav></sidenav>
  </mat-sidenav>
  <sequencer *ngIf="isKit"></sequencer>
</mat-sidenav-container>