@import "./../../shared/variables.scss";

.sample {
    background: transparent;
    border: 1px solid $black;
    border-radius: 1px;
    box-sizing: border-box;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    margin: 2px;
    position: relative;
    text-align: center;
    width: 100px;

    &.active {
        background: $black;
        color: $white;
    }

    &.empty {
        background: $grey;
    }

    .sample-name {
        line-height: normal;
        left: 50%;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        width: 100%;
        word-break: break-word;
    }

    ::ng-deep .favorite {
        background: #efefef;
        bottom: -13px;
        display: flex;
        height: 26px;
        justify-content: center;
        left: 50%;
        pointer-events: none;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 2;
    }

    .key {
        bottom: 38px;
        font-size: 0.7rem;
        height: 26px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 26px;
    }
}