<div class="sample" [ngClass]="{'active': active, 'empty': !sample.url}" *ngIf="sample">
  <audio
    src="{{sample.url}}"
    id="{{component}}{{index}}"
    preload="auto"
    class="audio"
  ></audio>
  <div class="sample-name">
    {{ sample.name }}
    <span *ngIf="!sample.url">Drag a sample</span>
  </div>
  <div class="key" *ngIf="showKeys">
    {{ keys[index - 1]}}
  </div>
  <favorite
    [collection]="'samples'"
    [id]="sample.id"
    [favoritesCount]="sample.favoritesCount"
    *ngIf="showFavorite"
  ></favorite>
</div>
