<h2 mat-dialog-title>Upload Sample</h2>
<mat-dialog-content>
  <mat-form-field class="sample-name">
    <input matInput placeholder="Sample Name" [(ngModel)]="sampleName">
  </mat-form-field>
  <div class="upload-button">
    <button mat-raised-button class="mat-upload-button">
      <span *ngIf="!allowSave">Choose a file</span>
      <span *ngIf="allowSave"><mat-icon>music_note</mat-icon> File added</span>
    </button>
    <input type="file" id="uploadSample" name="sample" class="native-upload" (change)="handleFiles($event)">
  </div>
  <mat-form-field class="demo-chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of tags" (remove)="removeChip(tag)">
        {{ tag.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Sample tags..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addChip($event)" />
    </mat-chip-list>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-raised-button (click)="saveSample()" [mat-dialog-close]="true" [disabled]="!allowSave">Upload</button>
</mat-dialog-actions>