<mat-icon (click)="closeProfile()">arrow_back</mat-icon>
<img [src]="profileUser.avatar || profileUser.photoURL" class="avatar" *ngIf="profileUser">
<h2 *ngIf="profileUser">
  <span *ngIf="allowEdit && !profileUser.username">Create a username <mat-icon (click)="openEditProfileDialog()">edit</mat-icon></span>
  <span *ngIf="allowEdit && profileUser.username">{{ profileUser.username }} <mat-icon (click)="openEditProfileDialog()">edit</mat-icon></span>
  <span *ngIf="!allowEdit && profileUser.username">{{ profileUser.username }}</span>
</h2>
<mat-tab-group>
  <mat-tab label="Samples">
    <div class="user-samples">
      <div
        class="sample-container"
        *ngFor="let sample of samplesQuery; let i = index"
        (focus)="globalService.keyMapEnabled.next(false)"
        (focusout)="globalService.keyMapEnabled.next(true)"
        (mousedown)="globalService.playSample($event)"
        (mouseup)="globalService.stopSample($event)"
      >
        <sample [sample]="sample" [component]="'profile'" [index]="i+1" [showFavorite]="false"></sample>
      </div>
      <div class="empty" *ngIf="!samplesQuery.length">
        No samples
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Kits">
    <div class="user-kits">
      <div class="kit-container" *ngFor="let kit of kitsQuery">
        <kit-preview [kit]="kit" [user]="profileUser.id"></kit-preview>
      </div>
      <div class="empty" *ngIf="!kitsQuery.length">
        No kits
      </div>
    </div>
  </mat-tab>
</mat-tab-group>