@import "../src/shared/variables.scss";

html,
body {
    color: $black;
    font-family: $font-serif;
    font-weight: 300;
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient($main, white);
    margin: 0;
}

a {
    color: $black;
}

audio {
    height: 0;
    opacity: 0;
    pointer-events: none;
}

h1,
h2,
h3,
.mat-toolbar,
.mat-dialog,
.mat-button,
.mat-raised-button,
.mat-dialog-title,
.mat-drawer-container,
.mat-form-field,
.mat-menu-item,
.mat-select-value-text,
.mat-option-text,
.mat-input-placeholder,
.mat-input-element,
.mat-tab-label-content,
.mat-tab-group,
.mat-chip,
.mat-drawer-container,
.mat-drawer {
    color: $white !important;
    font-family: $font-serif !important;
    font-weight: 300 !important;
}

mat-sidenav {
    box-sizing: border-box;
    height: calc(100vh - 64px);
    padding: 20px 20px 0;
    width: 300px;
}

.mat-sidenav.mat-drawer-side.mat-drawer-end {
    border-left: none;
}

mat-sidenav-content {
    height: calc(100vh - 64px) !important;
}

mat-toolbar {
    position: relative;
    z-index: 2;

    &.mat-toolbar {
        background-color: transparent;
    }

    a {
        color: $white;
    }
}

.mat-form-field {
    width: 100%;
}

.cdk-overlay-container {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
}

.cdk-global-overlay-wrapper {
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    height: 100%;
    width: 100%;
}

.cdk-overlay-pane {
    z-index: 1;
}

.mdc-button {

    color: $white;
    font-family: $font-serif !important;
    font-weight: 300 !important;

    &.mat-mdc-raised-button:not(:disabled) {
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
    }

    &.mat-mdc-button:not(:disabled) {
        color: $white;
    }
}

.mat-mdc-dialog-container.mdc-dialog .mdc-dialog__surface {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    color: $black;

    h2 {
        color: $black !important;
    }

    .mdc-button {
        color: $black;
    }
}

.mat-mdc-menu-panel.mat-mdc-elevation-specific {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    color: $black;
    font-family: $font-serif;
    right: 10px;
    top: 60px;
    z-index: 1;
}