@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$font-serif: 'Playfair Display', serif;

html,
body {
    font-family: $font-serif;
    margin: 0;
}

h1,
h2,
h3,
.mat-toolbar,
.mat-dialog,
.mat-button,
.mat-raised-button,
.mat-dialog-title {
    font-family: $font-serif;
}

mat-sidenav {
    box-sizing: border-box;
    height: 100vh;
    padding: 20px;
    width: 300px;
}

mat-sidenav-content {
    height: 100vh !important;
}