@import "../src/shared/variables.scss";

html,
body {
    color: $black;
    font-family: $font-serif;
    font-weight: 300;
    margin: 0;
}

a {
    color: $black;
}

audio {
    height: 0;
    opacity: 0;
    pointer-events: none;
}

h1,
h2,
h3,
.mat-toolbar,
.mat-dialog,
.mat-button,
.mat-raised-button,
.mat-dialog-title,
.mat-drawer-container,
.mat-form-field,
.mat-menu-item,
.mat-select-value-text,
.mat-option-text,
.mat-input-placeholder,
.mat-input-element,
.mat-chip,
.mat-drawer {
    color: $black;
    font-family: $font-serif !important;
    font-weight: 300 !important;
}

mat-sidenav {
    box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: calc(100vh - 64px);
    padding: 20px 20px 0;
    width: 300px;
}

mat-sidenav-content {
    height: calc(100vh - 64px) !important;
}

mat-toolbar {
    box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.mat-form-field {
    width: 100%;
}

.dnd-drag-start {
    background: rgba(0, 0, 0, 0.3) !important;
}

.dnd-drag-over {
    background: rgba(0, 0, 0, 0.3) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
