@import "./../../shared/variables.scss";

.favorite {
  align-items: center;
  border: 1px solid $white;
  border-radius: 4px;
  color: $white;
  display: flex;
  font-size: .8rem;
  justify-content: center;
  padding: 4px;
  text-align: center;
  width: 40px;

  .favorite-icon {
    color: $black;
    cursor: pointer;
    margin: 1px 5px 0 0;
    pointer-events: initial;
    text-align: center;

    &.filled {
      color: $red;
    }
  }

  &.disabled .favorite-icon {
    pointer-events: none;
  }

  &.disabled .favorite-icon {
    pointer-events: none;
  }
}